*, ::after, ::before{
    margin: 0;
    padding: 0;
    font-family: "Red Hat Mono", serif;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    display: flex;
    list-style: none;
}

li{
    padding: 2rem;
}

header{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: #4DA1A9;
}

header img{
    width: 15rem;
}

main{
    text-align: center;
}

.qui-sommes-nous{
    display: flex;

}

.qui-sommes-nous img{
    width: 70rem;
    height: 100%;
}

.logo{
    padding: 20px;
}

main{
    background-color: #2E5077;
}

footer{
    background-color: #4DA1A9;
}